<h2 style="text-align:center">{{title}}</h2>
<form [formGroup]="loginForm" (ngSubmit)="loginUser()">
    <input type="text" formControlName="user" placeholder="enter name..">
    <br>
    <span style="color:red" *ngIf="user&&user.touched&&user.invalid">this field is required</span>
    <br>
    <input type="text" formControlName="password" placeholder="enter passowrd..">
    <br>
    <span style="color:red" *ngIf="password&&password.touched&&password.invalid">this field is required</span>
    <br>
    <button type="submit">submit</button>
</form>